.build/
DerivedData/
.derived-data-screenshots/
build/
*.xcarchive
*.ipa
*.dSYM.zip
*.mobileprovision
ExportOptions.plist
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
xcuserdata/
*.xcuserstate
.DS_Store
